<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UriBase" value="" />
    <add key="SubscriptionKey" value="" />
    <add key="ComputerVisionAPI.AnalyzeImage.visualFeatures" value="Categories" />
    <add key="ComputerVisionAPI.AnalyzeImage.details" value="" />
    <add key="ComputerVisionAPI.AnalyzeImage.language" value="en" />
    <add key="ComputerVisionAPI.DescribeImage.maxCandidates" value="1" />
    <add key="ComputerVisionAPI.OCR.language" value="unk" />
    <add key="ComputerVisionAPI.OCR.detectOrientation" value="false" />
    <add key="ImageWidth" value="640"/>
    <add key="ImageHeight" value="480"/>
  </appSettings>
</configuration>